<?xml version='1.0' encoding='utf-8'?>
<widget id="cn.enry.yxx" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>运管在线学习</name>
    <description>
      众包客ZBK8.COM 这里只做高端定制的项目、这里只有秉承“工匠精神”的技术大牛。团队签约/项目预约/战略合作 全国免费拨打：400-8763-007
    </description>
    <author email="e_king@189.cn" href="http://www.enry.cn">
        EnryTeam
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="file://*/*" />
    <allow-intent href="file://*/*" />
    <allow-navigation href="about:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="xwalkVersion" value="19+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
    <preference name="AndroidLaunchMode" value="singleInstance" />
    <preference name="android-minSdkVersion" value="16" />
</widget>
